/*Importing IranYekan Font*/
@import "../fonts/IranYekan/Yekan.css";

/*Variables*/
:root {}

/*Css Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body styles And Resetting*/
body {
    font-size: 12px;
    font-family: Yekan, sans-serif;
}